<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ジャンケンしましょ</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div id="app">
            <h1>ジャンケンしましょ</h1>
            <div class="gushipa">
                <img id="mypic" src="img/gu.jpg" width="400" height="300">
            </div>

            <div class="select">
                <input class="selectbtn" type="button" value="グー"   @click="onButtonClick(0);">
                <input class="selectbtn" type="button" value="チョキ" @click="onButtonClick(1);">
                <input class="selectbtn" type="button" value="パー"   @click="onButtonClick(2);">
            </div>          

            <div class="reset">
                <input class="resetbtn" type="button" value="もう一度"   @click="reset();">
            </div>

            <div　class="result">
                <p v-if="resultState==0">コンピューターは「グー」を出しました</p>
                <p v-if="resultState==1">コンピューターは「チョキ」を出しました</p>
                <p v-if="resultState==2">コンピューターは「パー」を出しました</p>

                <p v-if="selectState==0">あなたは「グー」を出しました</p>
                <p v-if="selectState==1">あなたは「チョキ」を出しました</p>
                <p v-if="selectState==2">あなたは「パー」を出しました</p>

                <div v-if="judge==0"><h2 style="color:red">あなたの「勝ち」</h2></div>
                <div v-if="judge==1"><h2 style="color:blue">あなたの「負け」</h2 style="color:blue"></div>
                <div v-if="judge==2"><h2>引き分け</h2></div>
                <div v-if="judge==3"><h2></h2></div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
            <script src="js/main.js"></script> 

        </div>  
    </body>     
    
</html>